@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Galindo', cursive, sans-serif;
}

body {
  font-family: 'Galindo', cursive, sans-serif;
  background-image: url('./assets/funpattern.png');
  background-blend-mode: multiply;
  background-color: royalblue;
  background-repeat: repeat;
  background-size: 700px;
  min-height: 100vh;
}

